@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,900&display=swap");
:root{

    --green-coolor:#006400;
    --greenB-color:#38b000;
    --white-color:#fff;
    --whiteB-color:#f0f0f3;
    --whiteC-color:#f6fff8;
    --whiteD-color:#F0F0F0;
    --black-color:#222;
    --red-color:#ee0c0c;
    --gray-color:#8e9aaf;
    --dark-color:#2a2d2e;
    --darkB-color:#4c5c68;

}
*{
    box-sizing: border-box;
    
}

html,body{
    margin: 0;
    padding: 0;
    font-family: 'Poppins', sans-serif;
    font-style: normal;
}
.container{
    margin: 0 auto;
    width: 100%;
    max-width: 1200PX;
}
img{
    width: 62px;
    height: 62px;
}
.navbar-brand{
    padding-left: 40px;
}
/* news */
.title-main{
    color: var(--darkB-color);
    text-align: center;
    margin-top: 26px;
    font-size: 26px;
}

.articles-main{
    width: 270px;
    height: 467px;
    border-radius: 8px;
    background: var(--whiteB-color);
    margin-bottom: 30px;
    margin-left: 5px;
}

article h2{
color: var(--green-coolor);
font-size: 14px;
padding: 10px ;
}
article h3{
color: var(--darkB-color);
font-size: 12px;
margin-top: -10px;
margin-bottom: 0;
padding: 10px;
}
hr{
    color: var(--gray-color);
    margin-top: -7px;
    border: 1px solid var(--darkB-color);
    width: 249px;
    margin-left: 10px;
}
.date{
    font-size: 10px;
    margin-top: -25px;
    color: var(--green-coolor);
    padding: 10px;
}
.paragraph{
    font-size: 10px;
    text-align: justify;
    color: var(--black-color);
    padding-left: 10px;
    padding-right: 10px;
}
.read{
    color: var(--red-color);
    font-size: 14px;
    padding: 5px;
}
.container-button{
    text-align: center;
    margin-bottom: 30px;
}
/* games */
.container-games{
    background: var(--whiteB-color);
    padding-bottom: 20px;
}
.h2-games{
    text-align: center;
    font-size: 24px;
    color: var(--green-coolor);
    padding-top: 20px;
}

.titulo-games{
    font-size: 18px;
    font-weight: 700;
    color: var(--darkB-color)
}
.sub{
    color: var(--green-coolor);
    font-weight: 700;
    font-size: 14px;
}
.nota{
    color: var(--green-coolor);
    font-weight: 700;
    font-size: 36px;
    text-align: center;
}
.card{
    width: 270px;
    height: 326px;
    border-radius: 8px;
    margin-left: 13px;
    margin-bottom: 10px;
    
}
.describe-games{
    font-weight: 700;
    font-size: 14px;
}
.figure-img{
    margin-top: 0;
    margin-left: -12px;
    width: 270px;
     height: 150px; 
    
}
/* subscription */

#subscription{
    background: var(--white-color);
 }
 
 .title-subscription{
 font-size: 24px;
 font-weight: 700;
 color: var(--darkB-color);
 text-align: center;
 padding-top: 20px;
 } 
 .container-form{
     background: var(--whiteB-color);
     width: 280px;
     height: 450px;
     border-radius: 8px;
     margin-left: 0;
     margin-bottom: 20px;
     }
 
 
 form{
     padding: 20px;
     
 }
 .container-button-sub{
margin-top: -40px;

 }
 .btn-env{
     
     margin: 60px;
     padding-left: 20px;
     
 }
 .btn-clear{
     margin-left: 60px;
     margin-top: -100px;
 }
 /* footer */
.container-footer{
    background: #222;
    color: #f6fff8;
    padding-top: 20px;
    text-align: left;
    font-size: 14px;
}

.footer-esquerda{
    text-align: left;
    margin-left: 100px;

}
.footer-direita{
    text-align: justify;
    margin-left: 100px;
}
.central{
    text-align: left;
    margin-right: -110px;
    font-size: 12px;
}
@media(min-width:576px){

    .title-main{
      
        font-size: 36px;
    }
    
    .articles-main{
        width: 450px;
        height: 375px;
        margin-left: 40px;
    }
    
    article h2{
   
    font-size: 24px;
        }
    article h3{
    
    font-size: 18px;
    margin-top: -24px;
    
    }
    hr{
             
        width: 429px;
       
    }
    
     .read{
        
    padding-top: 0;
    }
/* games */

.h2-games{
   
    font-size: 34px;
    
}


.card{
    
margin-left: 106px;
    
}

/* subscription */


 
 .container-form{
    
     width: 450px;
     height: 400px;
   margin-left: 40px;
     }
 
 
 form{
     padding: 20px;
     
 }
 .container-button-sub{
margin-top: 30px;
text-align: center;

 }
 .btn-env{
     
     margin: 0;
     
     
     
 }
 .btn-clear{
     margin-left: 0;
     margin-top: 0;
 }
 /* footer */
footer{
    background: #222;
    color: #f6fff8;
    padding-top: 20px;
    text-align: left;
}
.central{
    margin-left: 40px;
   
}
.footer-direita{
    text-align: left;
    margin-left: 100px;

}
}
@media(min-width:768px) {


    .title-main{
      
        font-size: 36px;
    }
    .navbar-brand{
        padding-left: 60px;
    }
    .navbar-nav{
        margin-left: 140px;
    }
    .articles-main{
        width: 620px;
        height: 320px;
        margin-left: 60px;
        padding-left: 20px;
        padding-right: 20px;
    }
    
  
    hr{
             
        width: 555px;
       
    }
    
     
/* games */

.h2-games{
   
    font-size: 34px;
    padding-bottom: 40px;
}


.card{
    
margin-left: 60px;
margin-bottom: 10px;    
}

/* subscription */


 
 .container-form{
    
     width: 550px;
     height: 400px;
   margin-left: 60px;

     }
 
 
 
 
 /* footer */

.central{
    text-align: center;
    margin-left: -350px;
    margin-top: -10px;
}
}
@media(min-width:1200px) {


    .title-main{
      
        font-size: 36px;
    }
    .navbar-brand{
        padding-left: 105px;
    }
    .navbar-nav{
        margin-left: 480px;
    }
    .articles-main{
        width: 560px;
        margin-left: 5px;
        width: 990px;
        height: 247px;
        margin-bottom: 10px;
        margin-left: 105px;
     }
  
    hr{
             
        width: 930px;
       
    }
    
     
/* games */


.figure-img{
    margin-top: 0;
    margin-left: -12px;
    width: 292px;
     height: 150px; 
    
}

.card{
    width: 294px;
    height: 326px;
    border-radius: 8px;
    margin: 40px;
    
}

/* subscription */

.container-form{
    
    width: 790px;
    height: 390px;
  
    margin:  0 auto;
    margin-bottom: 40px;
    }

 
 /* footer */

 .footer-direita{
     margin-left: 820px;
     margin-top: -80px;
 }
}